<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="icon" href="<%= BASE_URL %>favicon.ico">
		<title><%= htmlWebpackPlugin.options.title %></title>

		<link rel="stylesheet" href="./static/lib/luckysheet/plugins/css/pluginsCss.css" />
		<link rel="stylesheet" href="./static/lib/luckysheet/css/ztreecss/zTreeStyle/zTreeStyle.css" />
		<link rel="stylesheet" href="./static/lib/luckysheet/plugins/plugins.css" />
		<link rel="stylesheet" href="./static/lib/luckysheet/css/luckysheet.css" />
		<link rel="stylesheet" href="./static/lib/luckysheet/assets/iconfont/iconfont.css" />

    <link href="./static/css/jquery-wijmo.css" rel="stylesheet" type="text/css" title="rocket-jqueryui" />


    <link href="./static/css/jquery.wijmo.wijsuperpanel.css" rel="stylesheet" type="text/css" />
    <!--  ztree style -->
    <link href="./static/lib/spreadjs/custom/ZTree/zTreeStyle.css" rel="stylesheet" type="text/css" />
    <!-- flatpickr -->
    <link href="./static/lib/spreadjs/custom/datepicker/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css">
    <link href="./static/lib/spreadjs/custom/datepicker/flatpickr/themes/material_blue.css" rel="stylesheet" type="text/css">

    <script src="./static/lib/spreadjs/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="./static/lib/spreadjs/jquery-ui-1.9.1.custom.min.js" type="text/javascript"></script>
    <!--  ztree js -->
    <script type="text/javascript" src="./static/lib/spreadjs/custom/ZTree/jquery.ztree.all3.5.42.min.js"></script>


    <!-- flatpickr js -->
    <script type="text/javascript" src="./static/lib/spreadjs/custom/datepicker/flatpickr/flatpickr.min.js"></script>
    <script type="text/javascript" src="./static/lib/spreadjs/custom/datepicker/flatpickr/l10n/zh.js"></script>
    <script type="text/javascript" src="./static/lib/spreadjs/custom/datepicker/flatpickr/dayjs.min.js"></script>

    <script type="text/javascript" src="./static/lib/spreadjs/jquery.wijmo.wijspread.all.js"></script>
    <script type="text/javascript" src="./static/lib/spreadjs/custom/css.js"></script>

    <script type="text/javascript" src="./static/lib/spreadjs/custom/ZTree/wijmo.wijspread.comboTree.js"></script>
    <script type="text/javascript" src="./static/lib/spreadjs/custom/datepicker/wijmo.wijspread.DatePickerCellType.js"></script>
    <script type="text/javascript" src="./static/lib/spreadjs/custom/function/wijmo.wijspread.function.js"></script>

    <script type="text/javascript" src="./static/lib/spreadjs/custom/canvas/decimal.min.js"></script>
    <script type="text/javascript" src="./static/lib/spreadjs/custom/canvas/wjmo.wijspread.canvas.js"></script>

    <!-- pako 压缩 需要压缩必须引用 -->
    <script src="./static/lib/spreadjs/compress/pako.min.js"></script>
    <script src="./static/lib/spreadjs/compress/base64js.min.js"></script>
    <script type="text/javascript" src="./static/lib/spreadjs/custom/Paste/wijmo.wijspread.paste.min.js"></script>
    <script type="text/javascript" src="./static/lib/spreadjs/gc.spread.excelio.min.js"></script>

    <script src="https://lib.baomitu.com/echarts/5.3.1/echarts.min.js"></script>

    <script src="./static/lib/zlib/zlib.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./static/css/base.css" />
    <link rel="stylesheet" href="./static/css/loading.css" />
    <script type="text/javascript" src="./static/lib/spreadjs/custom/picture/wjmo.wijspread.picture.js"></script>
    <script type="text/javascript" src="./static/lib/spreadjs/custom/scriptNeed.js"></script>
    <script type="text/javascript" src="./static/lib/spreadjs/custom/Print/element.js"></script>
    <script type="text/javascript" src="./static/lib/spreadjs/custom/Print/wijmo.wijspread.print.js"></script>

    <script type="text/javascript" src="./static/lib/spreadjs/custom/echarts/wjmo.wijspread.echarts.js"></script>


	</head>
	<body>
		<noscript>
			<strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript
				enabled. Please enable it to continue.</strong>
			<strong>很抱歉请启用JavaScript，没有JavaScript您无法查看<%= htmlWebpackPlugin.options.title %></strong>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
